<div class="lc-main">
    <div class="main-container-box w-container">
      <div class="application-nav w-nav" data-animation="default" data-collapse="medium" data-contain="1" data-duration="400">
        <div class="w-container">
          <nav class="application-nav-menu w-nav-menu" role="navigation"><a class="application-nav-button w-nav-link" href="../reg-ip/passport.html" style="max-width: 940px;">Личные данные</a><a class="application-nav-button w-clearfix w-nav-link" href="/gett/gett-address" style="max-width: 940px;">Адрес</a><a class="application-nav-button application-nav-button-active w-nav-link" href="/gett/gett-address" style="max-width: 940px;">ОКВЭД</a><a class="application-nav-button w-nav-link" href="/gett/gett-address" style="max-width: 940px;">Налогообложение</a><a class="application-nav-button w-nav-link" href="/gett/gett-address" style="max-width: 940px;">Налогообложение</a><a class="application-nav-button w-nav-link" href="/documents/taxes-ip" style="max-width: 940px;">Подтверждение</a>
          </nav>
          <div class="w-nav-button">
            <div class="w-icon-nav-menu"></div>
          </div>
        </div>
      <div class="w-nav-overlay" data-wf-ignore=""></div></div>
      <div class="application-content">
        <div class="application-header-box application-header-box-gett">
          <div class="application-header-icon application-header-icon-gett">
          <pre>{{ selectedOkved }}</pre>
            <h2 class="content-heading content-heading-gett">Выбор видов деятельности (ОКВЭД)</h2>
            <div class="form-heading-text">Для подготовки документов нам потребуются данные вашего паспорта
              <br>и номера свидетельств СНИЛС и ИНН</div>
          </div>
        </div>
        <div class="application-body application-body-okved-searchbox">
          <div class="application-form application-form-okved w-form">
            <form data-name="Email Form" id="email-form" name="email-form">
              <input class="application-form-field application-form-field-okved application-form-field-verybig w-input" data-name="Email 24" id="email-24" maxlength="256" name="email-24" required="required" type="email">
              <div class="okved-sort-box"><a class="okved-sort-link" href="#">Дизайн</a>
              <a class="okved-sort-link okved-sort-link-pressed" href="#">Разработка ПО</a>
              <a class="okved-sort-link" href="#">Интернет-торговля</a>
              <a class="okved-sort-link" href="#">Юридические услуги</a>
              <a class="okved-sort-link okved-sort-link-pressed" href="#">Консалтинг</a>
              <a class="okved-sort-link" href="#">Розничная торговля</a>
              <a class="okved-sort-link" href="#">Оптовая торговля</a>
              <a class="okved-sort-link" href="#">Инфобизнес</a>
              <a class="okved-sort-link okved-sort-link-pressed" href="#">Реклама</a>
              <a class="okved-sort-link" href="#">Маркетинг</a>
              <a class="okved-sort-link" href="#">Образовательные курсы</a>
              <a class="okved-sort-link" href="#">Такси</a>
              <a class="okved-sort-link" href="#">Клининг</a>
              </div>
            </form>
          </div>
        </div>
        <div class="application-body application-body-okved-searchbox application-body-okved-select">
          <div class="okved-row w-row">
            <div class="okved-search-column-1 w-col w-col-3">
              <h5 class="okved-h okved-h-10">Выбор раздела</h5>
              <div class="okved-box okved-box-class">
                <a class="okved-class-line okved-class-line-active w-inline-block" href="#">
                  <div class="okved-blue-number">01</div>
                  <div>Растениеводство
                    <br>и животноводство, охота и предоставление соответствующих услуг в этих областях</div>
                </a>
                <a class="okved-class-line w-inline-block" href="#">
                  <div class="okved-blue-number">02</div>
                  <div>Лесоводство
                    <br>и лесозаготовки</div>
                </a>
                <a class="okved-class-line w-inline-block" href="#">
                  <div class="okved-blue-number">03</div>
                  <div>Рыболовство
                    <br>и рыбоводство</div>
                </a>
                <a class="okved-class-line w-inline-block" href="#">
                  <div class="okved-blue-number">05</div>
                  <div>Добыча
                    <br>угля</div>
                </a>
                <a class="okved-class-line w-inline-block" href="#">
                  <div class="okved-blue-number">06</div>
                  <div>Добыча сырой нефти и природного газа</div>
                </a>
                <a class="okved-class-line w-inline-block" href="#">
                  <div class="okved-blue-number">07</div>
                  <div>Добыча металлических руд</div>
                </a>
                <a class="okved-class-line w-inline-block" href="#">
                  <div class="okved-blue-number">08</div>
                  <div>Добыча прочих полезных ископаемых</div>
                </a>
                <a class="okved-class-line w-inline-block" href="#">
                  <div class="okved-blue-number">09</div>
                  <div>Предоставление услуг в области добычи полезных ископаемых</div>
                </a>
                <a class="okved-class-line w-inline-block" href="#">
                  <div class="okved-blue-number">10</div>
                  <div>Производство пищевых продуктов</div>
                </a>
                <a class="okved-class-line w-inline-block" href="#">
                  <div class="okved-blue-number">11</div>
                  <div>Производство напитков</div>
                </a>
                <a class="okved-class-line w-inline-block" href="#">
                  <div class="okved-blue-number">12</div>
                  <div>Производство табачных изделий</div>
                </a>
              </div>
            </div>
            <div class="okved-search-column-2 w-col w-col-9">
              <h5 class="okved-h">Выбор вида деятельности</h5>
              <div class="okved-box">
                <div class="okved-class-box">

<div class="okved-klass-root" *ngFor="let okved of allOkveds; let okvedproc = index;">

                  <a class="okved-podclass-line w-inline-block"
                  (click)="okved.hidden ? okved.hidden=false : okved.hidden=true; "
                  >
                    <div class="okved-code okved-code-podclass">{{ okved.okveds[0].code }}</div>
                    <div>{{ okved.okveds[0].title }}</div>
                    <div class="okved-show-icon"></div>
                  </a>
                  <div class="okved-podclass-box" [ngClass]="{hidden: okved.hidden === true}">

                  <div class="okved-subroot" *ngFor="let subokved of okved.childs; let okvedproc2 = index">
                      <div class="okved-line">
                        <div class="okved-code">{{subokved.code}}</div>
                        <div>{{subokved.title}}</div><a class="okved-choose-icon" 
                        onn-mouseover="over()"
                        (click)="addChildToSelected(subokved, subokved);"
                        [ngClass]="{'okved-choose-icon-active': isOkvedSelected(subokved) === true}"></a>
                      </div>

                      <div class="okved-group-coontainer" *ngFor="let subokved2 of subokved.childs; let okvedproc3 = index">
                      <div class="okved-group-box">
                        <div class="okved-line okved-line-chosen okved-podgroup-line">
                          <div class="okved-code">{{subokved2.code}}</div>
                          <div>{{subokved2.title}}</div><a class="okved-choose-icon" 
                          (click)="addChildToSelected(subokved, subokved2);"
                          [ngClass]="{'okved-choose-icon-active': isOkvedSelected(subokved2) === true || isOkvedSelected(subokved) === true}"></a>
                      </div>

                          <div class="okved-group-box okved-view-box" *ngFor="let subokved3 of subokved2.childs; let okvedproc4 = index">
                            <div class="okved-line okved-line-chosen okved-podgroup-line">
                              <div class="okved-code">{{subokved3.code}}</div>
                              <div>{{subokved3.title}}</div><a class="okved-choose-icon" 
                              (click)="addChildToSelected(subokved, subokved3);"
                              [ngClass]="{'okved-choose-icon-active': isOkvedSelected(subokved3)  === true || isOkvedSelected(subokved) === true}"></a>
                          </div>
                          </div>
                      </div>



                      </div>
                    </div>

                  </div>
                </div>


              </div>
            </div>
          </div>
        </div>




        <div class="application-body application-body-upload">
          <h5 class="okved-h">Выбор основнго вида деятельности</h5>
          <div class="okved-choseb-box">

            <div class="okved-line okved-line-chosen" *ngFor="let okved of selectedOkved; let okvedproc = index;">
              <div class="okved-black-number-fav okved-code">{{okved.code }}</div>
              <div>{{okved.title}}</div>

              <a [ngClass]="{hidden: okved.hidden === true}"
              [ngClass]="{'okved-fav-icon-active': isPrimaryOkved(okved) === true}" 
                 (click)="asPrimaryOkved(okved)"
                 class="okved-fav-icon"></a>

              <a class="okved-remove-icon" (click)="removeFromSelected(okved)"></a>
            </div>


          </div>
        </div>
        <div class="application-footer"><a class="application-next-button application-next-button-gett w-button" href="#">Продолжить</a>
        </div>
      </div>
    </div>
  </div>