@(user: models.User, fillId: Long, fillForm: Form[forms.PrimaryFillForm.PrimaryFillData])(implicit messages: Messages,request: RequestHeader)
@import com.mohiva.play.silhouette.impl.providers.oauth2.ClefProvider
@import b3.inline.fieldConstructor
@import play.api.Play
@import helper._


@main(Messages("home.title"), Some(user)) {
<style>
    .argForm dl {
    display: inline-block;
    width: 20%;
    margin-right: 10px;
}
.kp-block {
    margin-left: -29px;
}
</style>

<div class="w-container fill-data-form">
      <div data-collapse="medium" data-animation="default" data-duration="400" data-contain="1" class="w-nav application-nav">
                      <div class="w-container">
<nav role="navigation" class="w-nav-menu application-nav-menu">
  <a href="/gett-passport" class="w-nav-link application-nav-button" style="max-width: 940px;">Личные данные</a>
    <div class="application-nav-arrow"></div><a href="/gett-address" class="w-nav-link application-nav-button" style="max-width: 940px;">Адрес регистрации</a>
    <div class="application-nav-arrow"></div><a href="/gett-nalog" class="w-nav-link application-nav-button application-nav-button-active w--current" style="max-width: 940px;">Налогообложение</a>
    <div class="application-nav-arrow"></div><a href="/gett-documents" class="w-nav-link application-nav-button" style="max-width: 940px;">Документы</a>
    <div class="application-nav-arrow"></div><a href="#" class="w-nav-link application-nav-button" style="max-width: 940px;">Подтверждение</a>
</nav>
                          <div class="w-nav-button">
                              <div class="w-icon-nav-menu"></div>
                          </div>
                      </div>
                      <div class="w-nav-overlay" data-wf-ignore=""></div>
                  </div>
            <div class="application-content">

              <div class="application-header-box application-header-box-gett">
                  <div class="w-clearfix application-header-icon application-header-icon-gett">
                      <h2 class="content-heading content-heading-gett">Выбор системы налогообложения</h2>
                         <div class="form-heading-text">Для подготовки документов нам потребуются данные вашего паспорта
                            <br>и номера свидетельств СНИЛС и ИНН</div>
                  </div>
                  
              </div>



<div class="application-body application-body-menu"></div>






@helper.form(action = routes.AdminController.saveAddressFillUser(fillId)) {
  @helper.CSRF.formField
  <div class="application-body application-body-upload">
            <h3 class="application-subheading">Выбор системы налогообложения</h3>
            <p class="application-paragraph">При подаче документов на регистрацию в качестве ИП можно сразу выбрать систему налогообложения. Обратите внимание, что выбранный налоговый режим будет действовать в течении всего календарного года, перейти на другую систему налогообложения вы сможете перед началом следующего календарного года.</p>
            <div class="application-okved-subcategory"><a class="app-tax-icon app-tax-icon-gett" data-new-link="true" href="#"></a>&nbsp;Общая система налогообложения (с НДС)</div>
            <div class="application-okved-subcategory"><a class="app-tax-icon app-tax-icon-gett" data-new-link="true" href="#"></a>&nbsp;Упрощенная система —&nbsp;6% с доходов</div>
            <div class="application-okved-subcategory"><a class="app-tax-icon app-tax-icon-gett" data-new-link="true" href="#"></a>&nbsp;Упрощенная система — 15% от разницы между доходами и расходами (для Москвы и Московской области)</div><a href="#" class="article-link article-link-alt">Смотреть ставки для других регионов&nbsp;<span class="article-link-icon"></span></a>
            <p class="application-paragraph application-paragraph-middle">Кроме того, вы можете использовать патентную систему налогообложения — разновидность налогового режима, при котором налог уплачивается авансом за определенный налоговый период: 3, 6, 9 или 12 месяцев.</p>
            <p class="application-paragraph application-paragraph-middle">К примеру, стоимость патента на деятельность такси в Москве на 12 месяцев составляет 18 000 рублей.</p>
            <div class="application-okved-subcategory"><a class="app-tax-icon app-tax-icon-gett" data-new-link="true" href="#"></a>&nbsp;Подать заявление на патент</div>
            <div class="patent-block">
              <p class="application-paragraph application-paragraph-middle">Для индивидуальных предпринимателей, зарегистрированный постоянно и ведущих деятельность в Москве, заявление будет подано одновременно с документами на государственную регистрацию.</p>
              <p class="application-paragraph application-paragraph-middle">Для индивидуальных предпринимателей, зарегистрированных постоянно в других регионах, но планирующих вести деятельность в Москве, будет сформировано заявление о переходе на патентную систему налогообложения и отправлено на электронную почту — вам необходимо будет самостоятельно подать его в любую налоговую в Москве после регистрации.</p><a href="#" class="article-link">Подробнее о патентной системе налогообложения <span class="article-link-icon"></span></a>
            </div>
          </div>


                <div class="application-footer">
                  <a id="submit" href="/gett-documents" value="submit" class="w-button application-next-button application-next-button-gett">Добавить документы</a>
                </div>
            </div>
        </div>

}






 <script src="https://rawgit.com/RobinHerbots/jquery.inputmask/3.x/dist/jquery.inputmask.bundle.js"></script>
}
