@(user: models.User, fillId: Long, fillForm: Form[forms.PrimaryFillForm.PrimaryFillData])(implicit messages: Messages,request: RequestHeader)
@import com.mohiva.play.silhouette.impl.providers.oauth2.ClefProvider
@import b3.inline.fieldConstructor
@import play.api.Play
@import helper._


@main(Messages("home.title"), Some(user)) {
<style>
    .argForm dl {
    display: inline-block;
    width: 20%;
    margin-right: 10px;
}
.kp-block {
    margin-left: -29px;
}
</style>

<div class="w-container fill-data-form">
            <div class="application-content">

              <div class="application-header-box application-header-box-gett">
                  <div class="w-clearfix application-header-icon application-header-icon-gett">
                      <div class="application-heading-icon"></div>
                      <h2 class="content-heading content-heading-gett">Формирование заявления</h2>
                  </div>
                  <div data-collapse="medium" data-animation="default" data-duration="400" data-contain="1" class="w-nav application-nav">
                      <div class="w-container">
<nav role="navigation" class="w-nav-menu application-nav-menu">
  <a href="/gett-passport" class="w-nav-link application-nav-button" style="max-width: 940px;">Личные данные</a>
    <div class="application-nav-arrow"></div><a href="/gett-address" class="w-nav-link application-nav-button application-nav-button-active w--current" style="max-width: 940px;">Адрес регистрации</a>
    <div class="application-nav-arrow"></div><a href="/gett-nalog" class="w-nav-link application-nav-button" style="max-width: 940px;">Налогообложение</a>
    <div class="application-nav-arrow"></div><a href="/gett-documents" class="w-nav-link application-nav-button" style="max-width: 940px;">Документы</a>
    <div class="application-nav-arrow"></div><a href="#" class="w-nav-link application-nav-button" style="max-width: 940px;">Подтверждение</a>
</nav>
                          <div class="w-nav-button">
                              <div class="w-icon-nav-menu"></div>
                          </div>
                      </div>
                      <div class="w-nav-overlay" data-wf-ignore=""></div>
                  </div>
              </div>



<div class="application-body application-body-menu"></div>






@helper.form(action = routes.AdminController.saveAddressFillUser(fillId)) {
  @helper.CSRF.formField
<div class="application-body application-body-address" style="display: none;">
    <h3 class="application-subheading">Паспорт и личные данные</h3>
    <div class="w-form application-form">
            <div class="w-row">
                <div class="w-col w-col-4">
                    <label for="name-68" class="application-form-label application-form-label-pro">Фамилия:</label>
                    @helper.inputText(fillForm("lastName"), 'id -> "last-name",'class -> "w-input application-form-field", '_label -> null)
                    <label for="name-69" class="application-form-label application-form-label-pro">Имя:</label>
                    @helper.inputText(fillForm("firstname"), 'id -> "first-name",'class -> "w-input application-form-field", '_label -> null)
                    <label for="name-70" class="application-form-label application-form-label-pro">Отчество:</label>
                    @helper.inputText(fillForm("middleName"), 'id -> "middle-name",'class -> "w-input application-form-field", '_label -> null)
                    <div class="w-row">
                        <div class="w-col w-col-7">
                            <label for="email-29" class="application-form-label application-form-label-pro">Дата рождения:</label>
                            @helper.inputText(fillForm("dob"), 'id -> "email-4", '_label -> null, 'placeholder -> "__.__.__" , 'class -> "w-input application-form-field application-form-field-s")
                        </div>
                        <div class="w-col w-col-5">
                            <label for="name-71" class="application-form-label application-form-label-pro">Пол:</label>
                            @helper.select(field = fillForm("gender"), options = Seq("МУЖ"->"МУЖ.", "ЖЕН"->"ЖЕН."), 'id -> "gender-field", '_label -> null, 'class -> "w-input application-form-field application-form-field-xs")
                        </div>
                    </div>
                </div>
                <div class="w-col w-col-8">
                    <label for="email-30" class="application-form-label application-form-label-pro">Место рождения (точно по паспорту):</label>
                    @helper.inputText(fillForm("placeOfBorn"), 'id -> "email-5", '_label -> null,'class -> "w-input application-form-field application-form-field-450")
                    <label for="name-72" class="application-form-label application-form-label-pro">Серия и номер паспорта:</label>
                    @helper.inputText(fillForm("passport"), 'id -> "passport",'_label -> null, 'placeholder -> "__ __ ______" ,'class -> "w-input application-form-field application-form-field-pass")

                    <!--
                    <div class="w-clearfix passport-status">Паспорт недействителен.
                        <br>Возможно, истек срок действия.</div>
                      -->
                    <div class="w-row">
                        <div class="w-col w-col-4">
                            <label for="email-31" class="application-form-label application-form-label-pro">Дата выдачи:</label>
                          @helper.inputText(fillForm("passportIssuedDate"), 'id -> "passport-issued-date",'_label -> null,  'placeholder -> "__.__.__", 'class -> "w-input application-form-field application-form-field-s")
                                                    </div>
                        <div class="w-col w-col-8">
                            <div class="kp-block">
                                <label for="name-73" class="application-form-label application-form-label-pro">Код подразделения:</label>
                               @helper.inputText(fillForm("kodPodrazdelenia"), 'id -> "kod-podrazdelenia",'_label -> null,  'placeholder -> "___-___" ,'class -> "w-input application-form-field application-form-field-s")
                            </div>
                        </div>
                    </div>
                    <label for="email-32" class="application-form-label application-form-label-pro">Кем выдан паспорт:</label>
                    @helper.inputText(fillForm("passportIssuedBy"), 'id -> "email-5",'_label -> null, 'class -> "w-input application-form-field application-form-field-450")
                    <!--
                    <div class="issued-types-block"><a href="#" class="passport-fms-name">ОТДЕЛЕНИЕМ УФМС РОССИИ ПО ПЕНЗЕНСКОЙ ОБЛАСТИ В КАМЕНСКОМ РАЙОНЕ</a>
                      <a href="#" class="passport-fms-name">ОУФМС РОССИИ ПО ПЕНЗЕНСКОЙ ОБЛАСТИ В КАМЕНСКОМ РАЙОНЕ</a><a href="#" class="passport-fms-name">Ввести самостоятельно</a>
                    </div>-->
                </div>
            </div>
            <div class="w-row appplication-form-row application-form-row-alt application-form-pro">
                <div class="w-col w-col-4 pro-column-inn">
                    <label for="name-76" class="application-form-label application-form-label-pro">Электронная почта:</label>
                    @helper.inputText(fillForm("eMail"), 'id -> "inn",'_label -> null, 'class -> "w-input application-form-field application-form-field-194")
                </div>
                <div class="w-col w-col-4 pro-column-snils">
                    <label for="name-77" class="application-form-label application-form-label-pro">ИНН:</label>
                    @helper.inputText(fillForm("inn"), 'id -> "inn",'_label -> null, 'class -> "w-input application-form-field application-form-field-194")
                </div>
                <div class="w-col w-col-4 pro-column-snils">
                    <label for="name-78" class="application-form-label application-form-label-pro">СНИЛС:</label>
                    @helper.inputText(fillForm("snils"), 'id -> "snils",'_label -> null, 'class -> "w-input application-form-field application-form-field-194")
                </div>
            </div>
    </div>
</div>


<div class="application-body application-body-address">
    <h3 class="application-subheading">Адрес регистрации</h3>
    <div class="w-form application-form">
          @b3.text(fillForm("locationAddress"), 'id -> "address",'class -> "w-input application-form-field application-form-field-verybig")
            <div class="w-row appplication-form-row">
                <div class="w-col w-col-2">
                    <label for="name-38" class="application-form-label application-form-label-address">Индекс</label>
                    @b3.text(fillForm("postalAddress"), 'id -> "postalcode",'class -> "w-input application-form-field application-form-field-address aaplication-form-field-address-amall")
                </div>
                <div class="w-col w-col-3">
                    <label for="subject" class="application-form-label application-form-label-address">Субъект:</label>
                    @b3.text(fillForm("addressInfo.subject"), 'id -> "subject",'class -> "w-input application-form-field application-form-field-address aaplication-form-field-address-amall")
                </div>
                <div class="w-col w-col-7">
                    <label for="area" class="application-form-label application-form-label-address">Район:</label>
                    @b3.text(fillForm("addressInfo.area"), 'id -> "area",'class -> "w-input application-form-field application-form-field-address aaplication-form-field-address-amall")
                </div>
            </div>
            <div class="w-row appplication-form-row">
                <div class="w-col w-col-5">
                    <label for="city" class="application-form-label application-form-label-address">Город:</label>
                    @b3.text(fillForm("addressInfo.city"), 'id -> "city",'class -> "w-input application-form-field application-form-field-address aaplication-form-field-address-amall")
                </div>
                <div class="w-col w-col-7">
                    <label for="settlement" class="application-form-label application-form-label-address">Населенный пункт:</label>
                    @b3.text(fillForm("addressInfo.settlement"), 'id -> "settlement",'class -> "w-input application-form-field application-form-field-address aaplication-form-field-address-amall")
                </div>
            </div>
            <div class="w-row">
                <div class="w-col w-col-5">
                    <label for="street" class="application-form-label application-form-label-address">Улица:</label>
                    @b3.text(fillForm("addressInfo.street"), 'id -> "street",'class -> "w-input application-form-field application-form-field-address aaplication-form-field-address-amall")
                </div>
                <div class="w-col w-col-2">
                    <label for="house" class="application-form-label application-form-label-address">Дом:</label>
                    @b3.text(fillForm("addressInfo.house"), 'id -> "house",'class -> "w-input application-form-field application-form-field-address aaplication-form-field-address-amall")
                </div>
                <div class="w-col w-col-2">
                    <label for="corpus" class="application-form-label application-form-label-address">Корпус:</label>
                    @b3.text(fillForm("addressInfo.corpus"), 'id -> "corpus",'class -> "w-input application-form-field application-form-field-address aaplication-form-field-address-amall")
                </div>
                <div class="w-col w-col-3">
                    <label for="flat" class="application-form-label application-form-label-address">Квартира:</label>
                    @b3.text(fillForm("addressInfo.flat"), 'id -> "flat",'class -> "w-input application-form-field application-form-field-address aaplication-form-field-address-amall")
                </div>
            </div>
    </div>
    <div class="w-row appplication-form-row application-form-row-alt">
        <div class="w-col w-col-2">
            <label for="ifns" class="application-form-label application-form-label-address">Код ИФНС</label>
            <input id="ifns" name="name-47" data-name="Name 47" class="w-input application-form-field application-form-field-address aaplication-form-field-address-amall" type="text">
        </div>
        <div class="w-col w-col-2">
            <label for="fnsreg" class="application-form-label application-form-label-address">Код рег. органа</label>
            @b3.text(fillForm("fnsreg"), 'id -> "fnsreg",'class -> "w-input application-form-field application-form-field-address aaplication-form-field-address-amall")

        </div>
        <div class="w-col w-col-8">
            <label for="fnstitle" class="application-form-label application-form-label-address">Наименование регистрирующего органа</label>
            <input id="fnstitle" name="name-49" data-name="Name 49" class="w-input application-form-field application-form-field-reg" type="text">

        </div>
    </div>
</div>


                <div class="application-footer">
                  <button id="submit" type="submit" value="submit" class="w-button application-next-button application-next-button-gett">Все правильно</button>
                </div>
            </div>
        </div>

}






 <script src="https://rawgit.com/RobinHerbots/jquery.inputmask/3.x/dist/jquery.inputmask.bundle.js"></script>
}
