@(user: models.User, test:String = "", cells: List[String] = List(), argForm: Form[ArgFields])(implicit messages: Messages,request: RequestHeader)
@import play.api.Play
@import helper._

@main(Messages("home.title"), Some(user)) {

<div class="w-section lc-main">
    <div class="w-container dashboard-upper-panel">
        <div class="w-row">
            <div class="w-col w-col-4 dasboard-column">
                <div class="dashboard-newapplication">
                    <div class="dashboard-service">Регистрация <span>водителя такси</span>
                    </div>
                    <a href="@routes.UserFillingController.passport" class="dashboard-newapplication-link">Начать</a>
                </div>
            </div>
            <div class="w-col w-col-4 dasboard-column disabled">
                <div class="dashboard-newapplication">
                    <div class="dashboard-service">Регистрация в качестве 
                        <span>индивидуального предпринимателя</span>
                    </div>
                    <a href="#" class="dashboard-newapplication-link">Начать</a>
                </div>
            </div>
            <div class="w-col w-col-4 dasboard-column disabled">
                <div class="dashboard-newapplication">
                    <div class="dashboard-service">Регистрация в качестве 
                        <span>индивидуального предпринимателя</span>
                    </div>
                    <a href="#" class="dashboard-newapplication-link">Начать</a>
                </div>
            </div>
        </div>
        <a href="#" class="w-inline-block special-offers-link">
            <div>Специальные предложения наших партнеров</div>
        </a>
    </div>
    
    <div class="w-container">
        <div data-collapse="medium" data-animation="default" data-duration="400" data-contain="1" class="w-nav dashboard-inwork-nav">
            <div class="w-container">
                <nav role="navigation" class="w-nav-menu dashboard-nav-menu">
                    <a style="max-width: 940px;" href="#" class="w-nav-link dashboard-inwork-nav-button dashboard-nav-button-active">Все</a>
                    <a style="max-width: 940px;" href="#" class="w-nav-link dashboard-inwork-nav-button">В работе</a>
                    <a style="max-width: 940px;" href="#" class="w-nav-link dashboard-inwork-nav-button">Законченные</a>
                </nav>
                <div class="w-nav-button">
                    <div class="w-icon-nav-menu"></div>
                </div>
            </div>
            <div class="w-nav-overlay" data-wf-ignore=""></div>
        </div>
        <div class="w-clearfix application-block">
            <div class="dashboard-status dashboard-status-3">
                <span class="dashboard-status-icon"></span>&nbsp;Документы в налоговой
            </div>
            <div class="dashboard-status">Регистрация ООО</div>
            <div class="dashboard-status dashboard-status-2">ООО "Клауд Микросистемс"</div>
            <a href="#" class="w-button dashboard-status-button">Подробнее</a>
        </div>
    </div>
</div>





<!--
<div class="anchor-generate">
    Сгенерировать новый документ
    Имя (32 знака лимит)  
    Фамилия (32 знака лимит)
    Отчество (32 знака лимит)
 
  @form(routes.ApplicationController.fillByAnchor(), 'class -> "topRight argForm") {
   @CSRF.formField
      @inputText(argForm("arg1"), '_label -> "arg1", 'class -> "form-control")
      @inputText(argForm("arg2"), '_label -> "arg2", 'class -> "form-control")
      @inputText(argForm("arg3"), '_label -> "arg3", 'class -> "form-control")
      @inputText(argForm("arg4"), '_label -> "arg4", 'class -> "form-control")
      @inputText(argForm("arg5"), '_label -> "arg5", 'class -> "form-control")
      @inputText(argForm("arg6"), '_label -> "arg6", 'class -> "form-control")
      @inputText(argForm("arg7"), '_label -> "arg7", 'class -> "form-control")
      @inputText(argForm("arg8"), '_label -> "arg8", 'class -> "form-control")
      @inputText(argForm("arg9"), '_label -> "arg9", 'class -> "form-control")

  <button class="button-default btn btn-success button-confirm button-activated">Генерировать</button>
}    
    
</div>

<div class="generated-preview">
<h4>Результаты</h4>
<img style="height: 20%;width: 100%;"src="/assets/@{user.email.getOrElse("None")}_page1.png"><a href="/assets/@{user.email.getOrElse("None")}.tif">TIFF</a></div>

            <div class="col-md-4 text-right">
                <img src="@user.avatarURL.getOrElse(routes.Assets.at("images/silhouette.png"))" height="40px" />
            </div>
            <hr class="col-md-12" />
        </div>
        <div class="row data">
            <div class="col-md-12">
                <div class="row">
                    <p class="col-md-6"><strong>@Messages("first.name"):</strong></p><p class="col-md-6">@user.firstName.getOrElse("None")</p>
                </div>
                <div class="row">
                    <p class="col-md-6"><strong>@Messages("last.name"):</strong></p><p class="col-md-6">@user.lastName.getOrElse("None")</p>
                </div>
                <div class="row">
                    <p class="col-md-6"><strong>@Messages("full.name"):</strong></p><p class="col-md-6">@user.fullName.getOrElse("None")</p>
                </div>
                <div class="row">
                    <p class="col-md-6"><strong>@Messages("email"):</strong></p><p class="col-md-6">@user.email.getOrElse("None")</p>
                </div>
            </div>
        </div>
        <div class="row data">
            <div class="col-md-12">
                <div class="row">
    
                    <p class="col-md-6"><strong>        



</strong></p></div></div></div>

    </div> -->

}
