@(title: String, user: Option[models.User] = None)(content: Html)(implicit messages: Messages)
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.ico")">
        <title>@title</title>
        <link href="//fonts.googleapis.com/css?family=Roboto|Montserrat:400,700|Open+Sans:400,300,600" rel="stylesheet">
        <link href="//cdnjs.cloudflare.com/ajax/libs/ionicons/1.5.2/css/ionicons.min.css" rel="stylesheet">
        <link href="https://suggestions.dadata.ru/suggestions/libs/jquery.suggestions/16.1/css/suggestions.css" type="text/css" rel="stylesheet" />
        <!--
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha256-7s5uDGW3AHqw6xtJmNNtr+OBRJUlgkNJEo78P4b0yRw= sha512-nNo+yCHEyn0smMxSswnf/OnX6/KwJuZTlNZBjauKhTK0c+zT+q5JOCx0UFhXQ6rJR9jg6Es8gPuD2uZcYDLqSw==" crossorigin="anonymous">-->
        <!-- <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css"> -->
        <link rel="stylesheet" href="@routes.Assets.at("styles/main.css")">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
        <style>.anchor-detail {
        display: block;
        clear: both;
        margin-top: 41px;
        margin-bottom: 52px;
        }
        </style>
    </head>
    <body>

   <main>

  <div class="navbar navbar-main w-nav" data-animation="default" data-collapse="tiny" data-contain="1" data-duration="400">
    <div class="w-container">
      <nav class="navmenu w-nav-menu" role="navigation"><a class="nav-link-gett navlink w-nav-link" href="http://gettaximan.ru" target="_blank">Сервисы</a><a class="nav-link-gett navlink w-nav-link" href="http://gettaximan.ru" target="_blank">Бибилотека</a><a class="nav-link-gett navlink w-nav-link" href="http://gettaximan.ru" target="_blank">Контрагент</a><a class="nav-link-gett navlink w-nav-link" href="http://gettaximan.ru" target="_blank">Блог</a>
      </nav>
            @user.map { u =>
 }.getOrElse {
   
}            
      <div class="menu-button w-nav-button">
        <div class="w-icon-nav-menu"></div>
      </div>
      <a class="brand w-nav-brand" href="#"><img height="13" src="../images/kompas_small.svg">
      </a>
    </div>
  </div>
 

                                  
  





    <div class="w-section lc-main">
        <div class="w-nav user-info-bar" data-animation="default"
        data-collapse="medium" data-contain="1" data-duration="400">
            <div class="w-container">
                <nav class="w-nav-menu w-clearfix user-info-menu" role=
                "navigation" style="display: none;">
 @user.map { u =>

                    <!-- <a class="w-nav-link user-info-left-link" href="@routes.UserFillingController.index" style=
                    "max-width: 940px;">ИП @u.fullName</a>
-->
                    <!--<a class="w-nav-link user-info-left-link" href=
                    "/gett-passport" style="max-width: 940px;"><span class=
                    "app-user-info-plus"> &nbsp;</span>Новое
                    заявление</a>
                    -->
<a class="w-nav-link user-info-bar-right-link user-info-right-link-alt" href="@routes.ApplicationController.signOut" style="max-width: 940px;"><span class="app-user-info-logout"></span></a>
<!--
<a class="w-nav-link user-info-bar-right-link" href="/" style="max-width: 940px;">@u.fullName</a>
-->
                        }.getOrElse {
<!--
<a class="w-nav-link user-info-left-link" href="@routes.ApplicationController.signIn" style="max-width: 940px;">@Messages("sign.in")</a>
<a class="w-nav-link user-info-left-link" href="@routes.ApplicationController.signUp" style="max-width: 940px;"><span class="app-user-info-plus"> &nbsp;</span>@Messages("sign.up")</a>

<a class="w-nav-link user-info-bar-right-link user-info-right-link-alt" href="#" style="max-width: 940px;"><span class="app-user-info-logout"></span></a><a class=
                    "w-nav-link user-info-bar-right-link" href="#" style=
                    "max-width: 940px;"></a>
-->
                        }


                </nav>
                <div class="w-nav-button">
                    <div class="w-icon-nav-menu"></div>
                </div>
            </div>
            <div class="w-nav-overlay" data-wf-ignore=""></div>
        </div>



            <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>



<!--[if lt IE 10]>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ajaxtransport-xdomainrequest/1.0.1/jquery.xdomainrequest.min.js"></script>
<![endif]-->
<script type="text/javascript" src="https://suggestions.dadata.ru/suggestions/libs/jquery.suggestions/16.1/js/jquery.suggestions.js"></script>


            <!--[if lte IE 9]><script src="//cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif]-->

            @content



        </main>
        <script src=https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha256-KXn5puMvxCw+dAYznun+drMdG1IFl3agK0p/pqT9KAo= sha512-2e8qq0ETcfWRI4HJBzQiA3UoyFk6tbNyG+qSaIBZLyW9Xf3sWZHN/lxe9fTh1U45DpPf07yj94KsUHHWe4Yk1A==" crossorigin="anonymous"></script>
<!--[if lt IE 10]>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ajaxtransport-xdomainrequest/1.0.1/jquery.xdomainrequest.min.js"></script>
<![endif]-->
<script type="text/javascript" src="https://suggestions.dadata.ru/suggestions/libs/jquery.suggestions/16.1/js/jquery.suggestions.js"></script>
  <script src="https://rawgit.com/RobinHerbots/jquery.inputmask/3.x/dist/jquery.inputmask.bundle.js"></script>

<script src="/assets/t.js">
</script>
  <script>

  $(document).ready(function(){
     $("#email-7").mask('00.00.0000', {placeholder: "__.__.____"});
     $("#email-4").mask('00.00.0000', {placeholder: "__.__.____"});
     $("#passport-issued-date").mask('00.00.0000', {placeholder: "__.__.____"});
     $("#kod-podrazdelenia").mask('000-000', {placeholder: "___-___"});
     $("#inn").mask('000000000000', {placeholder: "____________"});
     $("#snils").mask('000-000-000 00', {placeholder: "123-456-789 01"});



$("#passport").mask("99 99 999999", {'translation': {
                                        A: {pattern: /[\wА-Яа-я]/},
                                        S: {pattern: /[А-Я]/},
                                        Y: {pattern: /[0-9]/}
                                      }, placeholder: "99 99 999999"})

})
  </script>
<script>
     $("#address").suggestions({
        serviceUrl: "http://suggestions.dadata.ru/suggestions/api/4_1/rs",
        token: "2aba8de760c817b3e11ac7726435d42a124d5f62",
        type: "ADDRESS",
        count: 5,
        /* Вызывается, когда пользователь выбирает одну из подсказок */
        onSelect: function(suggestion) {
            console.log(suggestion);

            function decorate(first, last) {
                if (first && last) {
                    return first + ' ' + last;
                } else if (first) {
                    return first;
                }
                else if (last) {
                    return last;
                }
            }

            $('input#postalcode').val(suggestion.data.postal_code);
            $('input#region').val(decorate(suggestion.data.region_type, suggestion.data.region));
            $('input#area').val(suggestion.data.city_district);
            $('input#city').val(decorate(suggestion.data.city_type, suggestion.data.city));
            $('input#posel').val(decorate(suggestion.data.settlement_type, suggestion.data.settlement));
            $('input#street').val(decorate(suggestion.data.street_type, suggestion.data.street));
            $('input#home').val(decorate(suggestion.data.house_type, suggestion.data.house));
            $('input#corpus').val(decorate(suggestion.data.block_type, suggestion.data.block));
            $('input#appartment').val(decorate(suggestion.data.flat_type, suggestion.data.flat));
        }
    });
</script>
<script>
window.intercomSettings = {
app_id: "u4hyhwz8"
};
</script>
<script>(function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',intercomSettings);}else{var d=document;var i=function(){i.c(arguments)};i.q=[];i.c=function(args){i.q.push(args)};w.Intercom=i;function l(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://widget.intercom.io/widget/u4hyhwz8';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);}if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})()</script>
<div class="footer-section footer-section-app">
    <div class="w-container">
      <div class="w-row">
        <div class="w-col w-col-3">
          <div class="copyright-text">Возможности</div><a class="footers-link" href="#">Регистрация ООО</a><a class="footers-link" href="#">Регистрация ИП</a><a class="footers-link" href="#">Регистрация товарного знака</a><a class="footers-link" href="#">Регистрация изменений</a><a class="footers-link" href="#">Прекращение деятельности ИП</a><a class="footers-link" href="#">Ликвидация ООО</a>
        </div>
        <div class="w-col w-col-3">
          <div class="copyright-text">Полезные сервисы</div><a class="footers-link" href="#">Оплата госпошлины</a><a class="footers-link" href="#">Расчет стоимости патента</a>
        </div>
        <div class="w-col w-col-3">
          <div class="copyright-text">Формирование документов</div><a class="footers-link" href="#">Заявление о переходе на УСН</a><a class="footers-link" href="#">Заявление на патент</a>
        </div>
        <div class="w-col w-col-3">
          <div class="copyright-text">Правовая информация</div><a class="footers-link" href="#">Пользовательское соглашение</a><a class="footers-link" href="#">Политика конфиденциальности</a>
        </div>
      </div>
    </div>
    <div class="footer-block">
      <div class="w-container">
        <div class="w-row">
          <div class="w-col w-col-6">
            <div class="copyright-text">2016 © Клеркси</div>
          </div>
          <div class="w-col w-col-4"><a class="footers-link footers-link-horizontal" href="#">О сервисе</a><a class="footers-link footers-link-horizontal" href="#">Партнерам</a><a class="footers-link footers-link-horizontal" href="#">Банкам</a><a class="footers-link footers-link-horizontal" href="#">Юристам</a>
          </div>
          <div class="footer-column-3 w-col w-col-2"><a class="social-link social-link-twitter" href="#"></a><a class="social-link social-link-facebook" href="#"></a><a class="social-link social-link-vk" href="#"></a><a class="social-link social-link-instagram" href="#"></a>
          </div>
        </div>
      </div>
    </div>
  </div>


    </body>
</html>
