@(user: models.User)(implicit messages: Messages,request: RequestHeader)
@import play.api.Play
@import helper._

@main(Messages("home.title"), Some(user)) {
<style>
    .argForm dl {
    display: inline-block;
    width: 20%;
    margin-right: 10px;
}
</style>

        <div class="w-container">
            <div class="w-row">
                <div class="w-col w-col-3">
                    <div class="round-check active-check active-check-gett"></div>
                    <div class="label-check active-label-check active-label-check-gett">
                        Подготовка<br>
                        документов
                    </div>
                </div>
                <div class="w-col w-col-3">
                    <a class="w-inline-block big-link" href=
                    "/payment/payment-duty">
                    <div class="round-check"></div>
                    <div class="label-check">
                        ОПЛАТА<br>
                        ГОСПОШЛИНЫ
                    </div></a>
                </div>
                <div class="w-col w-col-3">
                    <div class="round-check"></div>
                    <div class="label-check">
                        ВЫПУСК<br>
                        ЭЛЕКТРОННОЙ ПОДПИСИ
                    </div>
                </div>
                <div class="w-col w-col-3">
                    <div class="round-check"></div>
                    <div class="label-check">
                        ОТПРАВКА<br>
                        ДОКУМЕНТОВ
                    </div>
                </div>
            </div>
            <div class="application-content">
               <div class="w-clearfix application-header-box application-header-box-gett">
    <div class="w-clearfix application-header-icon application-header-icon-gett">
        <div class="application-heading-icon application-heading-icon-gett"></div>
    </div>
    <div class="application-header">
        <h2 class="content-heading content-heading-gett">Подготовка пакета документов</h2>
    </div>
    <div data-collapse="medium" data-animation="default" data-duration="400" data-contain="1" class="w-nav application-nav">
        <div class="w-container">
            <nav role="navigation" class="w-nav-menu application-nav-menu">
                <a style="max-width: 940px;" href="/gett-passport" class="w-nav-link application-nav-button application-nav-button-active application-nav-button-active-gett w--current">Паспорт</a>
                <div class="application-nav-arrow"></div>
                <a style="max-width: 940px;" href="/gett-address" class="w-nav-link application-nav-button">Адрес регистрации</a>
                <div class="application-nav-arrow"></div>
                <a style="max-width: 940px;" href="/gett-okved" class="w-nav-link application-nav-button">Виды деятельности</a>
                <div class="application-nav-arrow"></div>
                <a style="max-width: 940px;" href="/gett-taxes-ip" class="w-nav-link application-nav-button">Налогообложение</a>
                <div class="application-nav-arrow"></div>
                <a style="max-width: 940px;" href="/gett-documents-ip" class="w-nav-link application-nav-button">Документы</a>
            </nav>
            <div class="w-nav-button">
                <div class="w-icon-nav-menu"></div>
            </div>
        </div>
        <div class="w-nav-overlay" data-wf-ignore=""></div>
    </div>
</div>
                <div class="application-body">
                    <div class="w-form application-form">
                        <form data-name="Email Form" id="email-form" name=
                        "email-form">
                            <input class="w-button application-submit-button"
                            data-wait="Please wait..." type="submit" value=
                            "Сохранить">
                        </form>
                        <div class="w-form-done">
                            <p>Thank you! Your submission has been
                            received!</p>
                        </div>
                        <div class="w-form-fail">
                            <p>Oops! Something went wrong while submitting the
                            form</p>
                        </div>
                    </div>
                    <h3 class="application-subheading">Паспорт</h3>
                    <p class="application-paragraph">
                    Общероссийский&nbsp;классификатор&nbsp;видов экономической
                    деятельности&nbsp;(сокращ.&nbsp;ОКВЭД)&nbsp;— документ,
                    входящий в состав&nbsp;общероссийских классификаторов
                    технико-экономической и социальной информации.</p>
                </div>
                <div class="application-body">
                    <div class="w-form application-form">
                        <form data-name="Email Form" id="email-form" name=
                        "email-form">
                            <label class="application-form-label" for=
                            "name-4">Имя:</label><input class=
                            "w-input application-form-field" data-name="Name 4"
                            id="name-4" name="name-4" type="text">
                            <div class="application-form-check">
                                
                            </div><label class="application-form-label" for=
                            "name-5">Отчество:</label><input class=
                            "w-input application-form-field" data-name="Name 5"
                            id="name-5" name="name-5" type="text">
                            <div class="application-form-check">
                                
                            </div><label class="application-form-label" for=
                            "name-6">Фамилия:</label><input class=
                            "w-input application-form-field" data-name="Name 6"
                            id="name-6" name="name-6" type="text">
                            <div class="application-form-check">
                                
                            </div><input class=
                            "w-button application-submit-button" data-wait=
                            "Please wait..." type="submit" value="Сохранить">
                        </form>
                        <div class="w-form-done">
                            <p>Thank you! Your submission has been
                            received!</p>
                        </div>
                        <div class="w-form-fail">
                            <p>Oops! Something went wrong while submitting the
                            form</p>
                        </div>
                    </div>
                </div>
                <div class="application-body application-body-middle">
                    <div class="w-nav application-nav" data-animation="default"
                    data-collapse="medium" data-contain="1" data-duration=
                    "400">
                        <div class="w-container">
                            <div class="w-nav-button">
                                <div class="w-icon-nav-menu"></div>
                            </div>
                        </div>
                        <div class="w-nav-overlay" data-wf-ignore=""></div>
                    </div>
                    <div class="w-form application-form">
                        <form data-name="Email Form" id="email-form" name=
                        "email-form">
                            <label class="application-form-label" for=
                            "email-4">Дата рождения:</label><input class=
                            "w-input application-form-field" data-name=
                            "Email 4" id="email-4" name="email-4" required=
                            "required" type="email">
                            <div class="application-form-check">
                                
                            </div><label class="application-form-label" for=
                            "email-5">Место рождения:</label><input class=
                            "w-input application-form-field" data-name=
                            "Email 5" id="email-5" name="email-5" required=
                            "required" type="email">
                            <div class="application-form-check">
                                
                            </div><input class=
                            "w-button application-submit-button" data-wait=
                            "Please wait..." type="submit" value="Сохранить">
                        </form>
                        <div class="w-form-done">
                            <p>Thank you! Your submission has been
                            received!</p>
                        </div>
                        <div class="w-form-fail">
                            <p>Oops! Something went wrong while submitting the
                            form</p>
                        </div>
                    </div>
                </div>
                <div class="application-body application-body-middle">
                    <div class="w-nav application-nav" data-animation="default"
                    data-collapse="medium" data-contain="1" data-duration=
                    "400">
                        <div class="w-container">
                            <div class="w-nav-button">
                                <div class="w-icon-nav-menu"></div>
                            </div>
                        </div>
                        <div class="w-nav-overlay" data-wf-ignore=""></div>
                    </div>
                    <div class="w-form application-form">
                        <form data-name="Email Form" id="email-form" name=
                        "email-form">
                            <label class="application-form-label" for=
                            "email-6">Номер:</label><input class=
                            "w-input application-form-field application-form-field-long"
                            data-name="Email 6" id="passport" name="email-6"
                            required="required" type="email">
                            <div class="application-form-check">
                                
                            </div>
                            <label class="application-form-label" for=
                            "email-6">Кем выдан:</label><input class=
                            "w-input application-form-field application-form-field-long"
                            data-name="Email 6" id="email-6" name="email-6"
                            required="required" type="email">
                            <div class="application-form-check">
                                
                            </div><label class="application-form-label" for=
                            "email-7">Когда выдан:</label><input class=
                            "w-input application-form-field" data-name=
                            "Email 7" id="email-7" name="email-7" required=
                            "required" type="email">
                            <div class="application-form-check">
                                
                            </div><label class="application-form-label" for=
                            "email-8">Код подразделения:</label><input class=
                            "w-input application-form-field" data-name=
                            "Email 8" id="email-8" name="email-8" required=
                            "required" type="email">
                            <div class="application-form-check">
                                
                            </div><input class=
                            "w-button application-submit-button" data-wait=
                            "Please wait..." type="submit" value="Сохранить">
                        </form>
                        <div class="w-form-done">
                            <p>Thank you! Your submission has been
                            received!</p>
                        </div>
                        <div class="w-form-fail">
                            <p>Oops! Something went wrong while submitting the
                            form</p>
                        </div>
                    </div>
                </div>
                <div class="application-footer">
                    <a class="w-button application-next-button" href=
                    "/gett-address">Продолжить</a>
                </div>
            </div>
        </div>          

 <script src="https://rawgit.com/RobinHerbots/jquery.inputmask/3.x/dist/jquery.inputmask.bundle.js"></script>
 <script>$("#passport").inputmask({"mask": "aa999999"});</script>
}         

