@(user: models.User)(implicit messages: Messages,request: RequestHeader)
@import play.api.Play
@import helper._

@main(Messages("home.title"), Some(user)) {
<style>
    .argForm dl {
    display: inline-block;
    width: 20%;
    margin-right: 10px;
}
</style>

<div class="w-container">
            <div class="application-content">
               <div class="w-clearfix application-header-box application-header-box-gett">
    <div class="w-clearfix application-header-icon application-header-icon-gett">
        <div class="application-heading-icon application-heading-icon-gett"></div>
    </div>
    <div class="application-header">
        <h2 class="content-heading content-heading-gett">Подготовка пакета документов</h2>
    </div>
    <div data-collapse="medium" data-animation="default" data-duration="400" data-contain="1" class="w-nav application-nav">
        <div class="w-container">

<nav role="navigation" class="w-nav-menu application-nav-menu"><a style="max-width: 940px;" href="/gett-passport" class="w-nav-link application-nav-button application-nav-button-active application-nav-button-active-gett">Личные данные</a>
    <div class="application-nav-arrow"></div><a style="max-width: 940px;" href="#" class="w-nav-link application-nav-button">Электронная подпись</a>
    <div class="application-nav-arrow"></div><a style="max-width: 940px;" href="#" class="w-nav-link application-nav-button">Регистрация в ФНС</a>
    <div class="application-nav-arrow"></div><a style="max-width: 940px;" href="#" class="w-nav-link application-nav-button">Открытие счета</a>
</nav>


            <div class="w-nav-button">
                <div class="w-icon-nav-menu"></div>
            </div>
        </div>
        <div class="w-nav-overlay" data-wf-ignore=""></div>
    </div>
</div>
              
<div class="application-body application-body-upper">
    <div class="w-form application-form">
        <form id="email-form" name="email-form" data-name="Email Form">
            <input value="Сохранить" data-wait="Please wait..." class="w-button application-submit-button" type="submit">
        </form>
        <div class="w-form-done">
            <p>Thank you! Your submission has been received!</p>
        </div>
        <div class="w-form-fail">
            <p>Oops! Something went wrong while submitting the form</p>
        </div>
    </div>
    <h3 class="application-subheading application-subheading-gett">Личные данные</h3>
    <p class="application-paragraph application-paragraph-gett-light">Все ваши данные уже внесены в систему.&nbsp;
        <br>Проверьте — все ли верно и переходите к следующему шагу. <br> Если в данных ошибка просьба сообщить по номеру +7 926 300-06-03</p>
</div>



<div class="application-body">
    <div class="w-form application-form">
        <form id="email-form" name="email-form" data-name="Email Form">
            <input value="Сохранить" data-wait="Please wait..." class="w-button application-submit-button" type="submit">
            <div class="w-row">
                <div class="w-col w-col-6">
                    <label for="name-4" class="application-form-label">Фамилия:</label>
                    <input id="name-4" name="name-4" data-name="Name 4" class="w-input application-form-field application-form-field-gett" type="text">
                    <label for="name-5" class="application-form-label">Имя:</label>
                    <input id="name-5" name="name-5" data-name="Name 5" class="w-input application-form-field application-form-field-gett" type="text">
                    <label for="name-6" class="application-form-label">Отчество:</label>
                    <input id="name-6" name="name-6" data-name="Name 6" class="w-input application-form-field application-form-field-gett" type="text">
                </div>
                <div class="w-col w-col-6">
                    <label for="email-4" class="application-form-label">Дата рождения:</label>
                    <input id="email-4" name="email-4" data-name="Email 4" required="required" class="w-input application-form-field application-form-field-gett" type="email">
                    <label for="email-5" class="application-form-label">Место рождения:</label>
                    <input id="email-5" name="email-5" data-name="Email 5" required="required" class="w-input application-form-field application-form-field-gett" type="email">
                </div>
            </div>
        </form>
    </div>
</div>

<div class="application-body">
    <div class="w-form application-form">
        <form id="email-form" name="email-form" data-name="Email Form">
            <input value="Сохранить" data-wait="Please wait..." class="w-button application-submit-button" type="submit">
        </form>
    </div>
    <div class="w-form application-form">
        <form id="email-form" name="email-form" data-name="Email Form">


            <input value="Сохранить" data-wait="Please wait..." class="w-button application-submit-button" type="submit">

            <div class="w-row">
                <div class="w-col w-col-6">
                    <label for="name-7" class="application-form-label">Серия и номер паспорта:</label>
                    <input id="passport" name="name-7" data-name="Name 7" class="w-input application-form-field application-form-field-gett" type="text">
                    <label for="name-8" class="application-form-label">Дата выдачи паспорта:</label>
                    <input id="passport-issued-date" name="name-8" data-name="Name 8" class="w-input application-form-field application-form-field-gett" type="text">
                </div>
                <div class="w-col w-col-6">
                    <label for="email-11" class="application-form-label">Код подразделения:</label>
                    <input id="kod-podrazdelenia" name="email-11" data-name="Email 11" required="required" class="w-input application-form-field application-form-field-gett" type="email">
                </div>
            </div>
            <label for="email-13" class="application-form-label">Кем выдан паспорт:</label>
            <input id="email-13" name="email-13" data-name="Email 13" required="required" class="w-input application-form-field application-form-field-long" type="email">
        </form>
    </div>
</div>


<div class="application-body">
    <div class="w-form application-form">
        <form id="email-form" name="email-form" data-name="Email Form">
            <input value="Сохранить" data-wait="Please wait..." class="w-button application-submit-button" type="submit">
            <div class="w-row">
                <div class="w-col w-col-6">
                    <label for="name-9" class="application-form-label">ИНН:</label>
                    <input id="inn" name="name-9" data-name="Name 9" class="w-input application-form-field application-form-field-gett" type="text">
                </div>
                <div class="w-col w-col-6">
                    <label for="email-14" class="application-form-label">СНИЛС:</label>
                    <input id="snils" name="email-14" data-name="Email 14" required="required" class="w-input application-form-field application-form-field-gett" type="email">
                </div>
            </div>
        </form>
    </div>
</div>




                <div class="application-footer">
                    <a class="w-button application-next-button application-next-button-gett" href=
                    "/gett-esign">Продолжить</a>
                </div>
            </div>
        </div>          

 <script src="https://rawgit.com/RobinHerbots/jquery.inputmask/3.x/dist/jquery.inputmask.bundle.js"></script>
}         

