@(user: models.User, smsCodeRequest: Boolean, firstName:String,lastName:String, inn:String,snils:String, smsForm: Form[forms.FillForm.FillData],smsCodeRequestGranted:Boolean=false)(implicit messages: Messages,request: RequestHeader)
@import com.mohiva.play.silhouette.impl.providers.oauth2.ClefProvider
@import b3.inline.fieldConstructor
@import play.api.Play
@import helper._



@main(Messages("home.title"), Some(user)) {
<style>
    .argForm dl {
    display: inline-block;
    width: 20%;
    margin-right: 10px;
}
.application-body-send {
    padding: 40px 80px 30px;
    border-bottom: 1px solid #e9e9e9;
}
.signature-form {
    margin-top: 10px;
    font-size: 16px;
}
.signature-form-field {
    display: inline-block;
    width: 81px;
    height: 36px;
    margin-right: 10px;
    margin-bottom: 0px;
    padding-top: 7px;
    padding-bottom: 7px;
    border: 2px solid #fcb824;
    font-family: Roboto, sans-serif;
    color: #555;
    font-size: 14px;
    line-height: 18px;
}
.signature-submit-button {
    display: inline-block;
    height: 36px;
    border: 1px none #fad991;
    border-radius: 3px;
    background-color: #fad991;
    font-family: Roboto, sans-serif;
    color: #555;
    font-size: 14px;
    line-height: 18px;
}

.docs-signature-text {
    display: inline-block;
    margin-left: 10px;
    font-family: Roboto, sans-serif;
    color: #d8d8d8;
}
</style>
<div class="w-container">

<div class="application-content">
    <div class="w-clearfix application-header-box application-header-box-gett">
        <div class="w-clearfix application-header-icon application-header-icon-gett">
            <div class="application-heading-icon application-heading-icon-gett"></div>
        </div>
        <div class="application-header">
            <h2 class="content-heading content-heading-gett">Регистрация индивидуального предпринимателя</h2>
        </div>
        <div data-collapse="medium" data-animation="default" data-duration="400" data-contain="1" class="w-nav application-nav">
            <div class="w-container">
<nav role="navigation" class="w-nav-menu application-nav-menu"><a style="max-width: 940px;" href="/gett-passport" class="w-nav-link application-nav-button application-nav-button-active-gett">Личные данные</a>
    <div class="application-nav-arrow"></div><a style="max-width: 940px;" href="/gett-esign" class="w-nav-link application-nav-button application-nav-button-active-gett">Электронная подпись</a>
    <div class="application-nav-arrow"></div><a style="max-width: 940px;" href="#" class="w-nav-link application-nav-button application-nav-button-active-gett application-nav-button-active">Регистрация в ФНС</a>
    <div class="application-nav-arrow"></div><a style="max-width: 940px;" href="#" class="w-nav-link application-nav-button">Открытие счета</a>
</nav>

                <div class="w-nav-button">
                    <div class="w-icon-nav-menu"></div>
                </div>
            </div>
            <div class="w-nav-overlay" data-wf-ignore=""></div>
        </div>
    </div>
    <div class="application-body application-body-menu"></div>
    <div class="w-clearfix application-body application-body-upper">
        <div class="esignature">
            <div class="esignature-label">Электронная подпись</div>
            <div class="esignature-text">@lastName

                <br>@firstName</div>
            <div class="esignature-text">ИНН @inn</div>
            <div class="esignature-text">СНИЛС @snils</div>
        </div>
        <h3 class="application-subheading application-subheading-gett">Подписание и отправка документов</h3>
        <p class="application-paragraph application-paragraph-gett-light">Теперь необходимо подписать пакет документов вашей электронной подписью и отправить документы на регистрацию в налоговую.</p>
        <div>
        @if(!smsCodeRequest && !smsCodeRequestGranted) {
        <a href="/filling/sendDocs" data-ix="signature-sms" class="w-button button-pay buttonpay-gett"><span class="lock-icon"></span>Подписать и отправить в налоговую</a>
}
            <div style="display: none;" class="signature-done"><span class="signature-done-check"></span>Подписано и отправлено в налоговую</div>
        </div>
        @if(smsCodeRequest) {

        <div style="" class="w-form signature-form">
@helper.form(action = routes.SignController.sendSms()) {
            @helper.CSRF.formField     

				@b3.text(smsForm("phone"), 'id -> "last-name",'class -> "w-input signature-form-field")                                
				<button id="submit" type="submit" value="submit" data-ix="signature-done" class="w-button signature-submit-button">Подтвердить</button>
                <div class="docs-signature-text">— введите код из смс</div>
        </div>
}

        }
    </div>
    @if(smsCodeRequestGranted) {

    <div style="display: block;" class="application-body-send">
        <p class="application-paragraph application-paragraph-gett-light">Сейчас документы находятся на регистрации в налоговом органе. Обычно это занимает 4 рабочих дня.</p>
        <p class="application-paragraph application-paragraph-gett-light">После завершения регистрации вы получите документы в электронном виде, подписанные электронной подписью ФНС. Этого достаточно, чтобы открыть расчетный счет в банке и начать работать с Gett.</p>
        <p class="application-paragraph application-paragraph-gett-light application-paragraph-more">Если вам понадобятся документы о регистрации в качестве ИП в бумажном виде, необходимо будет лично (или представителю с нотариальной доверенностью) обратиться в регистрирующий орган по месту постоянной регистрации. <span>Для получения более подробных инструкций, пишите на gett@@clerksy.ru</span>
        </p>
    </div>
    }
    <div class="w-clearfix application-footer">
    </div>
</div>
</div>
<script>
	
setTimeout(function(){
   window.location='/';
}, 5000);

</script>
}