@(signInForm: Form[forms.SignUpForm.Data])(implicit request: RequestHeader, messages: Messages)

@import b3.inline.fieldConstructor

@main(Messages("sign.up.title")) {
    @request.flash.get("error").map { msg =>
        <div class="col-md-6 col-md-offset-3 alert alert-danger alert-error">
            <a href="#" class="close" data-dismiss="alert">&times;</a>
            <strong>@Messages("error")</strong> @msg
        </div>
    }
       <div class="w-container">
            <div class="application-content">

<div class="application-body application-body-address">
    <div class="w-form application-form">
@helper.form(action = routes.SignUpController.smsSignUp(), 'id -> "email-form") {
            @helper.CSRF.formField



            <div class="w-row appplication-form-row">
                <div class="w-col w-col-12">
                        <label for="name-11" class="application-form-label application-form-label-address">Имя</label>
                        @b3.text(signInForm("firstName"), 'id -> "name-11",'class -> "w-input application-form-field application-form-field-address")
                </div>
                <div class="w-col w-col-12">
                        <label for="name-11" class="application-form-label application-form-label-address">Фамилия</label>
                        @b3.text(signInForm("lastName"), 'id -> "name-11",'class -> "w-input application-form-field application-form-field-address")
                </div>
              <div class="w-col w-col-12">
                        <label for="name-11" class="application-form-label application-form-label-address">Номер телефона 79000000000</label>
                        @b3.text(signInForm("email"), 'id -> "name-11",'class -> "w-input application-form-field application-form-field-address")
                </div>
                <div class="w-col w-col-12">
                            <label for="name-12" class="application-form-label application-form-label-address">Секретное слово:</label>
            @b3.password(signInForm("password"), 'id -> "name-12", 'class -> "w-input application-form-field application-form-field-address")
                </div>
            </div>

            <div class="application-footer">
                <button id="submit" type="submit" value="submit" class="w-button application-next-button ap plication-next-button-gett">Регистрация</button>

        }
                                            </div>
                                        </div>




<div class="application-content application-login">
    <div class="application-header-box application-header-box-gett application-header-box-gett-login"></div>
    <div class="application-body application-body-login">
        <div class="w-form application-form">
            <form id="email-form" name="email-form" data-name="Email Form">
                <input type="submit" value="Сохранить" data-wait="Please wait..." class="w-button application-submit-button">
            </form>
        </div>
        <div class="w-row">
            <div class="w-col w-col-5 login-column-1">
                <div class="w-form application-form">
                    <form id="email-form" name="email-form" data-name="Email Form">
                        <label for="name-32" class="gett-login-form-label">Электронная почта</label>
                        <input id="name-32" type="text" name="name-32" data-name="Name 32" class="w-input application-form-field">
                        <label for="name-33" class="gett-login-form-label">Номер телефона</label>
                        <input id="name-33" type="text" name="name-33" data-name="Name 33" class="w-input application-form-field">
                        <a href="#" class="w-button application-next-button application-next-button-gett application-login-button">Начать регистрацию</a>
                        <div class="logon-page-register-text">Для тех, кто уже зарегистрирован:&nbsp;<a class="login-page-register-link" href="#">войти</a>
                        </div>
                    </form>
                </div>
            </div>
            <div class="w-col w-col-7 login-column-2">
                <div class="faq-main">
                    <div class="faq-main-label">Куда я попал?</div>
                    <p class="faq-main-par">Клеркси — это сервис онлайн-регистрации индивидуальных предпринимателей. Для подачи документов в налоговую будет использоваться электронная подпись и документы попадут в регистрирующий орган через интернет.</p>
                    <div class="faq-main-label">Как это работает?</div>
                    <p class="faq-main-par">Если коротко, вы загружаете свои документы, мы выпускаем вам электронную подпись и готовим документы для регистрации ИП, вы подписываете их электронной подписью
                        <br>и отправляете в налоговую. Через 5 дней вы — ИП.</p>
                    <div class="faq-main-label">Сколько это стоит?</div>
                    <p class="faq-main-par">Услуги сервиса для партнеров Гетт оказываются бесплатно, вам остается только оплатить госпошлину (850 рублей).</p>
                </div>
            </div>
        </div>
    </div>
</div>



            </div>

        </div>

}
