@(signInForm: Form[forms.SignInForm.Data], socialProviders: com.mohiva.play.silhouette.impl.providers.SocialProviderRegistry)(implicit request: RequestHeader, messages: Messages)

@import com.mohiva.play.silhouette.impl.providers.oauth2.ClefProvider
@import b3.inline.fieldConstructor

@main(Messages("sign.in.title")) {
    @request.flash.get("error").map { msg =>
        <div class="col-md-6 col-md-offset-3 alert alert-danger alert-error">
            <a href="#" class="close" data-dismiss="alert">&times;</a>
            <strong>@Messages("error")</strong> @msg
        </div>
    }


        <div class="w-container">


<!--
<div class="application-content application-login">
    <div class="w-clearfix application-header-box application-header-box-gett application-header-box-gett-login">
        <div class="w-clearfix application-header-icon application-header-icon-gett">
            <div class="application-heading-icon application-heading-icon-gett"></div>
        </div>
        <div class="application-header">
            <h2 class="content-heading content-heading-gett">Авторизация</h2>
        </div>
    </div>
    <div class="application-body application-body-menu"></div>
    <div class="application-body application-body-login">
        <div class="w-form application-form">
@helper.form(action = routes.CredentialsAuthController.authenticate(), 'id -> "email-form") {
            @helper.CSRF.formField

            <form id="email-form" name="email-form" data-name="Email Form">
                <label for="name-30" class="gett-login-form-label">Ваш номер телефона (в формате 79261234562)</label>

@b3.text(signInForm("email"), 'id -> "name-11",'class -> "w-input gett-login-form-field")
                <label for="name-31" class="gett-login-form-label">Пароль из смс</label>

@b3.password(signInForm("password"), 'id -> "name-12", 'class -> "w-input gett-login-form-field")

               <button id="submit" type="submit" value="submit" class="w-button application-next-button application-next-button-gett application-login-button">Вход</button>
}
        </div>
    </div>
</div>
-->



<div class="application-content application-login">
    <div class="application-header-box application-header-box-gett application-header-box-gett-login"></div>
    <div class="application-body application-body-login">
        <div class="w-form application-form">
        </div>
        <div class="w-row">
            <div class="w-col w-col-5 login-column-1">
                <div class="w-form application-form">
                    @helper.form(action = routes.CredentialsAuthController.authenticate(), 'id -> "email-form") {
                                @helper.CSRF.formField
                                <form id="email-form" name="email-form" data-name="Email Form">
                                    <label for="name-30" class="gett-login-form-label">Номер телефона (в формате 79261234562)</label>

                    @b3.text(signInForm("email"), 'id -> "name-11",'class -> "w-input application-form-field")
                                    <label for="name-31" class="gett-login-form-label">Пароль из смс</label>

                    @b3.password(signInForm("password"), 'id -> "name-12", 'class -> "w-input application-form-field")
                    <button id="submit" type="submit" value="submit"
                    class="w-button application-next-button application-next-button-gett application-login-button">Вход</button>
                    <div class="logon-page-register-text">Для тех, кто не зарегистрирован:&nbsp;<a class="login-page-register-link" href="/signUp">Регистрация</a>
                    </div>
                    }
                  </div>
            </div>
            <div class="w-col w-col-7 login-column-2" style="display:none;">
                <div class="faq-main">
                    <div class="faq-main-label">Куда я попал?</div>
                    <p class="faq-main-par">Клеркси — это сервис онлайн-регистрации индивидуальных предпринимателей. Для подачи документов в налоговую будет использоваться электронная подпись и документы попадут в регистрирующий орган через интернет.</p>
                    <div class="faq-main-label">Как это работает?</div>
                    <p class="faq-main-par">Если коротко, вы загружаете свои документы, мы выпускаем вам электронную подпись и готовим документы для регистрации ИП, вы подписываете их электронной подписью
                        <br>и отправляете в налоговую. Через 5 дней вы — ИП.</p>
                    
                </div>
            </div>
        </div>
    </div>
</div>







    <fieldset class="col-md-6 col-md-offset-3">

<!--
        <legend>@Messages("sign.in.credentials")</legend>
        <div>
            <p class="not-a-member">@Messages("not.a.member") <a href="@routes.ApplicationController.signUp">@Messages("sign.up.now")</a></p>
        </div>
-->
<!--
        @if(socialProviders.providers.nonEmpty) {
            <div class="social-providers">
                <p>@Messages("or.use.social")</p>
                <div>
                @for(p <- socialProviders.providers if p.id != "clef") {
                    <a href="@routes.SocialAuthController.authenticate(p.id)" class="provider @p.id" title="@Messages(p.id)"><img src="@routes.Assets.at(s"images/providers/${p.id}.png")" width="64px" height="64px" alt="@Messages(p.id)"></a>
                }
                </div>
                @defining(socialProviders.get[ClefProvider]) { clef =>
                    @if(clef.isDefined) {
                        <script type="text/javascript" src="https://clef.io/v3/clef.js" class="clef-button" data-app-id="@clef.get.settings.clientID" data-color="blue" data-style="flat" data-redirect-url="@clef.get.settings.redirectURL" data-type="login"></script>
                    }
                }
            </div>
        }
-->

    </fieldset>
}
