@(signInForm: Form[forms.SignUpForm.Data])(implicit request: RequestHeader, messages: Messages)

@import b3.inline.fieldConstructor

@main(Messages("sign.up.title")) {
    @request.flash.get("error").map { msg =>
        <div class="col-md-6 col-md-offset-3 alert alert-danger alert-error">
            <a href="#" class="close" data-dismiss="alert">&times;</a>
            <strong>@Messages("error")</strong> @msg
        </div>
    }
       <div class="w-container">
            <div class="application-content">
 
<div class="application-body application-body-address">
    <div class="w-form application-form">
@helper.form(action = routes.SignUpController.signUp(), 'id -> "email-form") {
            @helper.CSRF.formField


      
            <div class="w-row appplication-form-row">
                <div class="w-col w-col-12">
                        <label for="name-11" class="application-form-label application-form-label-address">Имя</label>
                        @b3.text(signInForm("firstName"), 'id -> "name-11",'class -> "w-input application-form-field application-form-field-address")
                </div>
                <div class="w-col w-col-12">
                        <label for="name-11" class="application-form-label application-form-label-address">Фамилия</label>
                        @b3.text(signInForm("lastName"), 'id -> "name-11",'class -> "w-input application-form-field application-form-field-address")
                </div> 
              <div class="w-col w-col-12">
                        <label for="name-11" class="application-form-label application-form-label-address">Номер телефона</label>
                        @b3.text(signInForm("email"), 'id -> "name-11",'class -> "w-input application-form-field application-form-field-address")
                </div>                
                <div class="w-col w-col-12" style="display:none">
                            <label for="name-12" class="application-form-label application-form-label-address">Пароль:</label>
            @b3.password(signInForm("password"), 'id -> "name-12", 'class -> "w-input application-form-field application-form-field-address")
                </div>
            </div>

            <div class="application-footer">
                <button id="submit" type="submit" value="submit" class="w-button application-next-button ap plication-next-button-gett">Регистрация</button>

        }
                                            </div>
                                        </div>

            </div>

        </div>

}
